#id-div-container{
  text-align: center;
  background: rgb(196, 146, 89);
  border-color: rgb(196, 146, 89);
  width: 584px;
  height: 150px;
  margin: 0 auto;
  color: white;
  border: 3px solid #e0e0e0;
  border-radius: 10px;
}

#id-span-title{
  font: 16px arial;
  position: relative;
  top: 25px;
}
#id-p-version{
  font: 48px arial;
  padding-top: 15px;
  position: relative;
  top: -15px;
  border-top: 1px solid #e0e0e0;
}
